<div class="alert alert-success">
	The super potin was succesfully saved !
</div>

<div class="alert alert-danger">
	Error : you need to complete this field / the title must be at least 3 characters longue / etc.
</div>